.NewsLetterContainer {
    /* height: 60px; */
    background-color: #fcf5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .NewsLetterTitle {
    font-size: 70px;
    margin: 20px;
  }
  
  .NewsLetterDesc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  
  .NewsLetterInputContainer {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    margin: 20px;
  }
  
  .NewsLetterInput {
    border: none;
    flex: 8;
    padding: 20px;
  }
  
  .NewsLetterButton {
    flex: 1;
    border: none;
    background-color: teal;
    color: white;
    cursor: pointer;
  }
  